<div class="flex flex-col items-center justify-center h-screen">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold text-slate-300">Create a Class</h1>
  </div>
  <div class="flex flex-col items-center justify-center mt-10">
    <form class="flex flex-col items-center justify-center">
      <div class="flex flex-col items-center justify-center mt-5">
        <button
          class="bg-cyan-600 hover:bg-cyan-700 text-slate-300 font-bold py-2 px-4 rounded"
        >
          Create Class
        </button>
      </div>
    </form>
  </div>
</div>
